.algo{
    color: rgb(11, 56, 85)
}
.algo{
    color: rgb(94, 141, 19)
}

Los países árabes han ejercido siempre una clara fascinación, por la
diversidad de sus costumbres, de sus ritos, y nada más adentrarnos en la
historia de las naciones ribereñas del Mediterráneo, nos salen al paso los
vestigios de aquella civilización, de la cual somos tributarios en cierto modo
principalmente en aquellas disciplinas que tienen un carácter científico: la
Matemática, la Astronomía, la Física y también la Medicina.
Los árabes, han sido siempre un pueblo paciente, acostumbrado a las
adversidades que les procuran la dificultad del clima, la falta de agua y los
inmensos páramos que les es preciso salvar para comunicarse con los demás
pueblos de su área. La solitud del desierto, las noches silenciosas, el calor
agobiante durante el día y el frío penetrante al caer el sol, impiden en realidad
una actividad física, pero predisponen el ánimo para la meditación.
También los griegos fueron maestros del pensamiento, principalmente
dedicado a la Filosofía y aun cuando entre ellos se encuentran buenos
matemáticos –la escuela de Pitágoras todavía está presente- fue una actividad
de unos pocos y, en cierto modo, era considerada una ciencia menor. Los
pueblos árabes, en cambio, la tomaron como principal ejercicio de su actividad
mental, heredera de los principios de la India a los que desarrollaron y
engrandecieron por su cuenta.
Asombran todavía hoy los monumentos que la antigüedad nos ha legado
procedentes de aquellos países en los que se observa, más que la inquietud
artística, muchas veces vacilante e indecisa, la precisión matemática.
Por esto, cuando en un libro como El Hombre que Calculaba se juntan estas
dos facetas tan distintas, a saber Poesía y Matemática, tiene un encanto
indiscutible y nos adentramos en lo que sería posible aridez en los cálculos, a
través de interesantes historias y leyendas, unas llenas de Poesía, otras de
humanidad y siempre bajo un fondo matemático en el que penetramos sin
darnos cuenta y, mejor dicho, con evidente placer y satisfacción.
Este es un aspecto que es menester resaltar porque, en general, existe una
cierta prevención o resistencia hacia el cultivo de la ciencia matemática para la
cual es menester una adecuación del gusto o una inclinación concedida por la
naturaleza. El educador sabe de cierto, a los pocos días de contacto con sus
alumnos, cuáles de ellos serán los futuros arquitectos o ingenieros por la
especial predisposición que demuestran, para ellos toda explicación relativa a
los números es un placer y avanzan en la disciplina sin fatiga ni prevención. Sin
embargo el número de alumnos que destaquen es limitado y, no obstante, no
se puede prescindir en manera alguna de esa enseñanza fundamental, aun
para aquellos que no piensan dedicar su actividad futura a una de aquellas
ramas, por una sencilla razón; que el cultivo de la Matemática obliga a razonar
de manera lógica, segura, sin posibilidad de error y ésta es un aspecto que es
necesario en la vida, para cualquiera actividad.
Creemos que este es el aspecto principal y que cabe destacar del libro El
Hombre que Calculaba toda vez que no nos presenta unos áridos problemas a
resolver, sino que los envuelve en un sentido lógico, el cual destaca,
demostrando con ello la importantísima función que esa palabra, la Lógica,
tiene en la solución de todos los problemas.
En el campo filosófico la Lógica toma prestada de la Matemática sus
principios y es con ellos y solo con ellos que se puede dar unas normas para
conducir el pensamiento de manera recta, que es su exclusiva finalidad.
El Hombre que Calculaba es, pues, una obra evidentemente didáctica que
cumple con aquel consagrado aforismo de que es preciso instruir deleitando.
Su protagonista se nos hace inmediatamente simpático porque es sencillo,
afable, comunicativo, interesado en los problemas ajenos y totalmente sensible
al encanto poético el cual ha de llevarle a la consecución del amor y, lo que es
más importante, al conocimiento de la verdadera fe.
La acción transcurre entre el fasto oriental, sin dejar por ello de darnos a
conocer los aspectos menos halagüeños de aquellos países en los que la
diferencia social, de rango y de riqueza, eran considerables y completamente
distanciadas. Tiene, además, el encanto poético que nos habla de la
sensibilidad árabe en todo lo concerniente a la belleza y por último la
estimación del ejercicio y dedicación intelectuales al presentarnos un torneo, en
el que juegan tanto el malabarismo matemático, como la poesía y la
sensibilidad.
Dicho torneo representa la culminación del hombre, de humilde cuna, que
gracias a su disposición especial, llega a alcanzar cumbres con las que ni
siquiera podía soñar. Es como una admonición o como un presagio de lo que
en nuestros tiempos se presenta como más importante, en que los medios
modernos de cálculo, con las maravillosas máquinas que el hombre ha creado
–máquinas fundamentadas en principios repetidos a lo largo de los siglosestán
dispuestas al servicio del hombre para que pueda triunfar en cualquier
actividad. No es concebible la acción de un financiero, de un comerciante, de
un industrial, de un fabricante, de todo el engranaje de la moderna industria y
comercio, sin el auxilio de las Computadoras, de manera que bien se puede
decir que la Matemática, se ha adueñado en nuestros tiempos de la sociedad.
Y, sin embargo, con ser mucho, no lo es todo porque si sólo se atiende a esa
materialidad a la que tan eficazmente sirve, la formación integral del hombre
queda descuidada y le hace incompleto.
No solo de pan vive el hombre; también necesita de cuando en cuanto dejar
volar la fantasía y atender a otras inquietudes espirituales de las que no puede
prescindir.
El recto camino nos lo enseña El Hombre que Calculaba, en el que parece
que también está “calculada” la dosis necesaria de los elementos que han de
hacer de la Matemática un poderoso auxiliar, para que el hombre obtenga su
formación total.
Demostrar que también en los números puede haber poesía; que los buenos
y rectos sentimientos no son solo patrimonio de filósofos o practicantes; que la
fantasía no está reñida con la precisión; que la Lógica debe acompañar todos
nuestros actos y que es posible alcanzar el camino verdadero para la completa
satisfacción moral, física e intelectual del hombre es el fruto que se obtendrá de
la lectura de este extraordinario libro.
Representa una ráfaga de aire fresco, un descanso en la senda árida de los
números que nos encadena, y nos advierte que es posible mirar el cielo
estrellado, para admirarlo, y no solo para contar distancias o el número de
cuerpos luminosos que lo integran; penetraremos en ese ignoto mundo, no solo
con la intención de entenderlo, sino también de gozarlo.
¡Cuántas veces en la vida, se nos presentan problemas que parecen
insolubles, como los que en su aspecto matemático nos ofrece El Hombre que
Calculaba, en los que la dificultad es más aparente que real! Bata solo ejercitar
el raciocinio para que nos demos cuenta de que su solución es tan fácil como
deducir que dos más dos suman cuatro. El sentido práctico que esto nos puede
hacer adquirir, junto con la convicción de que la belleza está en todas partes, a
nuestra disposición, con solo tener o sentir la necesidad de buscarla, tiene un
valor formativo tan elevado que indudablemente ha de producir abundantes
frutos en lo relativo a la formación del propio carácter.
El Hombre que Calculaba es como aquellas insignificantes semillas,
pequeñas en tamaño y aparentemente frágiles, que son capaces de desarrollar
un árbol gigantesco que proporcione frutos abundantes, sombra y placer sin fin
a su cultivador.
El que sepa sacar estas consecuencias merecería, sin duda, la bendición del
famoso calculador Beremiz Samir quien, a continuación, va a contarnos su
prodigiosa vida y sus no menos prodigiosos actos.
Dedicatoria
A la memoria de los siete grandes geómetras cristianos o
agnósticos
Descartes, Pascal, Newton,
Leibniz, Euler, Lagrange, Comte
¡Allah se compadezca de estos infieles !
y a la memoria del inolvidable matemático, astrónomo y filósofo
musulmán
Buchafar Mohamed Abenmusa Al Kharismi
¡Allah lo tenga en su gloria!
y también a todos los que estudian, enseñan o admiran la
prodigiosa ciencia de los tamaños, de las formas, de los números, de
las medidas, de las funciones, de los movimientos y de las fuerzas
naturales
yo, el-hadj jerife
Ali Iezid Izz-Edim Ibn Salim Hank
Malba Tahan
creyente de Allah
y de su santo profeta Mahoma
dedico estas páginas de leyenda y fantasía.
En Bagdad, 19 de la Luna de Ramadán de 1321.
CAPITULO I
En el que se narran las divertidas circunstancias de mi
encuentro con un singular viajero camino de la ciudad de
Samarra, en la Ruta de Bagdad. Qué hacía el viajero y cuáles
eran sus palabras.
¡En el nombre de Allah, Clemente y Misericordioso!
Iba yo cierta vez al paso lento de mi camello por la Ruta de Bagdad
de vuelta de una excursión a la famosa ciudad de Samarra, a orillas
del Tigres, cuando vi, sentado en una piedra, a un viajero
modestamente vestido que parecía estar descansando de las fatigas
de algún viaje.
Me disponía a dirigir al desconocido el trivial salam de los
caminantes, cuando, con gran sorpresa por mi parte, vi que se
levantaba y decía ceremoniosamente:
-Un millón cuatrocientos veintitrés mil setecientos cuarenta y
cinco…
Se sentó en seguida y quedó en silencio, con la cabeza apoyada en
las manos, como si estuviera absorto en profundas meditaciones.
Me paré a cierta distancia y me quedé observándolo como si se
tratara de un monumento histórico de los tiempos legendarios.
Momentos después, el hombre se levantó de nuevo y, con voz
pausada y clara, cantó otro número igualmente fabuloso:
-Dos millones trescientos veintiún mil ochocientos sesenta y seis…
Y así, varias veces, el raro viajero se puso en pie y dijo en voz alta
un número de varios millones, sentándose luego en la tosca piedra
del camino.
Sin poder refrenar mi curiosidad, me acerqué al desconocido, y,
después de saludarlo en nombre de Allah –con Él sean la oración y la
gloria-, le pregunté el significado de aquellos números que solo
podrían figurar en cuentas gigantescas.
-Forastero, respondió el Hombre que Calculaba, no censuro la
curiosidad que te ha llevado a perturbar mis cálculos y la serenidad
de mis pensamientos. Y ya que supiste dirigirte a mí con delicadeza y
cortesía, voy a atender a tus deseos. Pero para ello necesito contarte
antes la historia de mi vida.Y relató lo siguiente, que por su interés
voy a trascribir con toda fidelidad:
CAPITULO II
Donde Beremiz Samir, el Hombre que Calculaba, cuenta la
historia de su vida. Cómo quedé informado de los cálculos
prodigiosos que realizaba y de cómo vinimos a convertirnos en
compañeros de jornada.
-Me llamo Beremiz Samir, y nací en la pequeña aldea de Khoi, en
Persia, a la sombra de la pirámide inmensa formada por el monte
Ararat. Siendo aún muy joven empecé a trabajar como pastor al
servicio de un rico señor de Khamat.
Todos los días, al amanecer, llevaba a los pastos el gran rebaño y
me veía obligado a devolverlo a su redil antes de caer la noche. Por
miedo a perder alguna oveja extraviada y ser, por tal negligencia,
severamente castigado, las contaba varias veces al día.
Así fui adquiriendo poco a poco tal habilidad para contar que, a
veces, de una ojeada contaba sin error todo el rebaño. No contento
con eso, pasé luego a ejercitarme contando los pájaros cuando
volaban en bandadas por el cielo.
Poco a poco fui volviéndome habilísimo en este arte. Al cabo de
unos meses –gracias a nuevos y constantes ejercicios contando
hormigas y otros insectos- llegué a realizar la proeza increíble de
contar todas las abejas de un enjambre. Esta hazaña de calculador
nada valdría, sin embargo, frente a muchas otras que logré más
tarde. Mi generoso amo poseía, en dos o tres distantes oasis, grandes
plantaciones de datileras, e, informado de mis habilidades
matemáticas, me encargó dirigir la venta de sus frutos, contados por
mí en los racimos, uno a uno. Trabajé así al pie de las palmeras cerca
de diez años. Contento con las ganancias que le procuré, mi
bondadoso patrón acaba de concederme cuatro meses de reposo y
ahora voy a Bagdad pues quiero visitar a unos parientes y admirar las
bellas mezquitas y los suntuosos palacios de la famosa ciudad. Y,
para no perder el tiempo, me ejercito durante el viaje contando los
árboles que hay en esta región, las flores que la embalsaman, y los
pájaros que vuelan por el cielo entre nubes.
Y señalándome una vieja higuera que se erguía a poca distancia,
prosiguió:
-Aquel árbol, por ejemplo, tiene doscientas ochenta y cuatro
ramas. Sabiendo que cada rama tiene como promedio, trescientos
cuarenta y seis hojas, es fácil concluir que aquel árbol tiene un total
de noventa y ocho mil quinientos cuarenta y ocho hojas. ¿No cree,
amigo mío?
-¡Maravilloso! –exclamé atónico. Es increíble que un hombre pueda
contar, de una ojeada, todas las ramas de un árbol y las flores de un
jardín… Esta habilidad puede procurarle a cualquier persona inmensas
riq